@model SisRent.Vista.Areas.Mantencion.Models.ReservasViewModel
@{
    ViewBag.Title = "Reservas";
    ViewBag.Menu = "Reservas";
    ViewBag.Submenu = "Lista de reservas";
    var listaComunas = Model.ListaComunas;
    var urlBase = System.Configuration.ConfigurationManager.AppSettings.Get("UrlBase");
}
<section class="content-header">
    <h1>
        Reservas
        <small>Lista de reservas</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-th"></i> Mantención</a></li>
        <li>Reservas</li>
        <li class="active">Lista de reservas</li>
    </ol>
</section>
<section class="content">
    <div class="box box-danger">
        <div class="box-header with-border">
            <h3 class="box-title">Listado de reservas</h3>
        </div>
        <div class="box-body">
            <table id="tblReservas" class="table table-striped">
                <thead>
                    <tr>
                        <th>Comuna de Retiro</th>
                        <th>Fecha/Hora de Retiro</th>
                        <th>Comuna de Entrega</th>
                        <th>Fecha/Hora de Entrega</th>
                        <th>Vehículo</th>
                        <th>Nombre Cliente</th>
                        <th>Estado</th>
                        <th style="width: 200px">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.ListaReservas != null && Model.ListaReservas.Any())
                    {
                        foreach (var reserva in Model.ListaReservas)
                        {
                            <tr>
                                <td>@reserva.ComunaRetiro</td>
                                <td>@reserva.FechaHoraRetiro.ToString("dd/MM/yyyy HH:mm")</td>
                                <td>@reserva.ComunaEntrega</td>
                                <td>@(reserva.FechaHoraEntrega != DateTime.MinValue ? reserva.FechaHoraEntrega.ToString("dd/MM/yyyy HH:mm") : null)</td>
                                <td><span title="@reserva.Vehiculo.Marca - @reserva.Vehiculo.Modelo">@reserva.Vehiculo.Patente</span></td>
                                <td>@reserva.Nombres @reserva.Apellidos</td>
                                <td>@reserva.Estado</td>
                                <td>
                                    <button class="btn btn-primary btnDetalles" title="Detalles" value="@reserva.IdReserva"><i class="fa fa-key"></i></button>
                                    <button class="btn btn-warning btnEditar" title="Editar" value="@reserva.IdReserva"><i class="fa fa-edit"></i></button>
                                    <button class="btn btn-success btnEstado" title="Cambiar estado" value="@reserva.IdReserva" data-estado="@reserva.IdEstado"><i class="fa fa-share"></i></button>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr><td colspan="8">No hay reservas registradas</td></tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="box-footer clearfix">
            <div class="pull-right">
                <a href="@(urlBase + Url.Action("Rentar", "Home", new { area = "" }))" class="btn btn-success"><i class="fa fa-map-marker"></i> Agregar Reserva</a>
            </div>
        </div>
    </div>
    <input type="hidden" id="idReserva" name="idReserva" value="" />
    <div class="modal fade" id="modal-detalle" data-keyboard="disable" data-backdrop="static">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title">Detalle Reserva</h4>
                </div>
                <div class="modal-body">
                    <p class="h4">1. Itinerario</p>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="tbDetRetiro">Comuna de retiro</label>
                                <input type="text" class="form-control" name="tbDetRetiro" id="tbDetRetiro" readonly="readonly">
                            </div>
                        </div>
                        <div class="col-md-4 col-md-offset-1">
                            <div class="form-group">
                                <label for="tbDetFechaRetiro">Fecha de retiro</label>
                                <input type="text" class="form-control" name="tbDetFechaRetiro" id="tbDetFechaRetiro" readonly="readonly">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="tbDetHoraRetiro">Hora de retiro</label>
                                <input type="text" class="form-control" name="tbDetHoraRetiro" id="tbDetHoraRetiro" readonly="readonly">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="tbDetEntrega">Comuna de entrega</label>
                                <input type="text" class="form-control" name="tbDetEntrega" id="tbDetEntrega" readonly="readonly">
                            </div>
                        </div>
                        <div class="col-md-4 col-md-offset-1">
                            <div class="form-group">
                                <label for="tbDetFechaEntrega">Fecha de entrega</label>
                                <input type="text" class="form-control" name="tbDetFechaEntrega" id="tbDetFechaEntrega" readonly="readonly">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="tbDetHoraEntrega">Hora de entrega</label>
                                <input type="text" class="form-control" name="tbDetHoraEntrega" id="tbDetHoraEntrega" readonly="readonly">
                            </div>
                        </div>
                    </div>
                    <hr />
                    <p class="h4">2. Vehículo</p>
                    <div class="form-group">
                        <label for="tbDetVehiculo">Vehículo</label>
                        <input type="text" class="form-control" name="tbDetVehiculo" id="tbDetVehiculo" readonly="readonly">
                    </div>
                    <hr />
                    <p class="h4">3. Servicios adicionales</p>
                    <div class="btn-group servicios">
                        <ul id="detServicios"></ul>
                    </div>
                    <hr />
                    <p class="h4">4. Datos para el pago</p>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="tbDetNombres">Nombre(s)</label>
                                <input type="text" class="form-control" name="tbDetNombres" id="tbDetNombres" readonly="readonly">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="tbDetApellidos">Apellido(s)</label>
                                <input type="text" class="form-control" name="tbDetApellidos" id="tbDetApellidos" readonly="readonly">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="tbDetEmail">Email</label>
                                <input type="text" class="form-control" name="tbDetEmail" id="tbDetEmail" readonly="readonly">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="tbDetDireccion">Dirección</label>
                                <input type="text" class="form-control" name="tbDetDireccion" id="tbDetDireccion" readonly="readonly">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="tbDetComuna">Comuna</label>
                                <input type="text" class="form-control" name="tbDetComuna" id="tbDetComuna" readonly="readonly">
                            </div>
                        </div>
                        <div class="col-md-4 col-md-offset-1">
                            <div class="form-group">
                                <label for="tbDetTelefono">Teléfono</label>
                                <input type="text" class="form-control" name="tbDetTelefono" id="tbDetTelefono" readonly="readonly">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="tbDetObservaciones">Observaciones</label>
                                <textarea class="form-control" name="tbDetObservaciones" id="tbDetObservaciones" rows="3" readonly="readonly"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modal-editar" data-keyboard="disable" data-backdrop="static">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title">Editar Reserva</h4>
                </div>
                <div class="modal-body">
                    <p class="h4">1. Itinerario</p>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="ddlRetiro">Comuna de retiro</label>
                                <select class="form-control select2" name="ddlRetiro" id="ddlRetiro">
                                    <option value="">Seleccione una comuna</option>
                                    @foreach (var item in listaComunas)
                                    {
                                        <option value="@item.Value">@item.Text</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4 col-md-offset-1">
                            <div class="form-group">
                                <label for="tbFechaRetiro">Fecha de retiro</label>
                                <input type="text" class="form-control date" name="tbFechaRetiro" id="tbFechaRetiro" readonly="readonly">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="tbHoraRetiro">Hora de retiro</label>
                                <input type="text" class="form-control time" name="tbHoraRetiro" id="tbHoraRetiro" readonly="readonly">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="ddlEntrega">Comuna de entrega</label>
                                <select class="form-control select2" name="ddlEntrega" id="ddlEntrega">
                                    <option value="">Seleccione una comuna</option>
                                    @foreach (var item in listaComunas)
                                    {
                                        <option value="@item.Value">@item.Text</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4 col-md-offset-1">
                            <div class="form-group">
                                <label for="tbFechaEntrega">Fecha de entrega</label>
                                <input type="text" class="form-control date" name="tbFechaEntrega" id="tbFechaEntrega" readonly="readonly">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="tbHoraEntrega">Hora de entrega</label>
                                <input type="text" class="form-control time" name="tbHoraEntrega" id="tbHoraEntrega" readonly="readonly">
                            </div>
                        </div>
                    </div>
                    <hr />
                    <p class="h4">2. Seleccione un vehículo</p>
                    <div class="form-group">
                        <label for="ddlVehiculo">Vehículo</label>
                        <select class="form-control select2" name="idVehiculo" id="ddlVehiculo">
                            <option value="">Seleccione un vehículo</option>
                            @foreach (var item in Model.ListaVehiculos.Where(o => o.Estado))
                            {
                                <option value="@item.IdVehiculo">@item.Marca-@item.Modelo @item.Patente $@item.Valor.ToString("N0").-</option>
                            }
                        </select>
                    </div>
                    <hr />
                    <p class="h4">3. Servicios adicionales</p>
                    <div class="btn-group checkbox servicios" data-toggle="buttons">
                        @foreach (var servicio in Model.ListaServicios.Where(o => o.Estado))
                        {
                            <label class="btn btn-primary">
                                <input type="checkbox" value="@servicio.IdServicio" data-valor="@servicio.Valor" name="servicios" class="hidden" autocomplete="off" />
                                @servicio.Servicio $ @servicio.Valor.ToString("N0").-
                            </label>
                        }
                    </div>
                    <hr />
                    <p class="h4">4. Datos para el pago</p>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="tbNombres">Nombre(s)</label>
                                <input type="text" class="form-control" name="tbNombres" id="tbNombres">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="tbApellidos">Apellido(s)</label>
                                <input type="text" class="form-control" name="tbApellidos" id="tbApellidos">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="tbEmail">Email</label>
                                <input type="text" class="form-control" name="tbEmail" id="tbEmail">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="tbDireccion">Dirección</label>
                                <input type="text" class="form-control" name="tbDireccion" id="tbDireccion">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="ddlComuna">Comuna</label>
                                <select class="form-control select2" name="ddlComuna" id="ddlComuna">
                                    <option value="">Seleccione una comuna</option>
                                    @foreach (var item in listaComunas)
                                    {
                                        <option value="@item.Value">@item.Text</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4 col-md-offset-1">
                            <div class="form-group">
                                <label for="tbTelefono">Teléfono</label>
                                <input type="text" class="form-control" name="tbTelefono" id="tbTelefono">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="tbObservacionesEdit">Observaciones</label>
                                <textarea class="form-control" name="observaciones" id="tbObservacionesEdit" rows="3" placeholder="Comentarios..."></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancelar</button>
                    <button type="button" id="btnGuardarEditar" class="btn btn-success">Guardar cambios</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modal-cambioEstado" data-keyboard="disable" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title">Cambiar estado de la reserva</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="ddlEstado">Estado</label>
                                <select class="form-control" name="idEstado" id="ddlEstado">
                                    <option value="">Seleccione un estado</option>
                                    @foreach (var item in Model.ListaEstados)
                                    {
                                        <option value="@item.Value">@item.Text</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="tbObservaciones">Observaciones</label>
                                <textarea class="form-control" name="observaciones" id="tbObservaciones" rows="3" placeholder="Comentarios..."></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary" id="btnCambioEstado">Aceptar</button>
                </div>
            </div>
        </div>
    </div>
    @WebControls.ModalAlert("Mensaje Alerta", "")
</section>
@section Styles
{
    @Styles.Render("~/Styles/select2")
    @Styles.Render("~/Styles/datepicker")
    @Styles.Render("~/Styles/timepicker")
    @Styles.Render("~/Styles/datatables")
}
@section Scripts
{
    @Scripts.Render("~/Scripts/select2")
    @Scripts.Render("~/Scripts/datepicker")
    @Scripts.Render("~/Scripts/timepicker")
    @Scripts.Render("~/Scripts/datatables")
    <script type="text/javascript">
        $(document).ready(function() {
            $("#tblReservas").DataTable();
        });

        $(document).on("click", ".btnDetalles", function () {
            $.ajax({
                url: '@Url.Action("ObtenerReserva", "Reservas", new { area = "Mantencion" })',
                type: 'POST',
                data: {
                    idReserva: $(this).val()
                },
                success: function(response) {
                    if (response.valid) {
                        $("#idReserva").val(response.reserva.IdReserva);
                        // 1. Itinerario
                        $("#tbDetRetiro").val(response.reserva.ComunaRetiro);
                        $("#tbDetFechaRetiro").val(response.reserva.FechaRetiro);
                        $("#tbDetHoraRetiro").val(response.reserva.HoraRetiro);
                        $("#tbDetEntrega").val(response.reserva.ComunaEntrega);
                        $("#tbDetFechaEntrega").val(response.reserva.FechaEntrega);
                        $("#tbDetHoraEntrega").val(response.reserva.HoraEntrega);
                        // 2. Seleccione un vehículo
                        $("#tbDetVehiculo").val("Marca-Modelo: " + response.reserva.Vehiculo.Marca + " - " + response.reserva.Vehiculo.Modelo +
                            ", Año: " + response.reserva.Vehiculo.Anio + ", Patente: " + response.reserva.Vehiculo.Patente);
                        // 3. Servicios adicionales
                        $("#detServicios").empty();
                        $.each(response.reserva.Servicios, function(i, item) {
                            $("#detServicios").append("<li>" + item.Servicio + " $ " + item.Valor + ".-</li>");
                        });
                        // 4. Datos para el pago
                        $("#tbDetNombres").val(response.reserva.Nombres);
                        $("#tbDetApellidos").val(response.reserva.Apellidos);
                        $("#tbDetEmail").val(response.reserva.Email);
                        $("#tbDetDireccion").val(response.reserva.Direccion);
                        $("#tbDetComuna").val(response.reserva.Comuna);
                        $("#tbDetTelefono").val(response.reserva.Telefono);
                        $("#tbDetObservaciones").val(response.reserva.Observaciones);

                        $("#modal-detalle").modal("show");
                    } else {
                        $("#modal-alerta .modal-body p").text(response.message);
                        $("#modal-alerta").modal("show");
                    }
                },
                error: function (a, b, c) {
                    $("#modal-alerta .modal-title").text("Error");
                    $("#modal-alerta .modal-body p").text(c);
                    $("#modal-alerta").modal("show");
                }
            });
        });

        $(document).on("click", ".btnEditar", function () {
            $.ajax({
                url: '@Url.Action("ObtenerReserva", "Reservas", new { area = "Mantencion" })',
                type: 'POST',
                data: {
                    idReserva: $(this).val()
                },
                success: function(response) {
                    if (response.valid) {
                        $("#idReserva").val(response.reserva.IdReserva);
                        // 1. Itinerario
                        $("#ddlRetiro").val(response.reserva.IdComunaRetiro);
                        $("#tbFechaRetiro").val(response.reserva.FechaRetiro);
                        $("#tbHoraRetiro").val(response.reserva.HoraRetiro);
                        $("#ddlEntrega").val(response.reserva.IdComunaEntrega);
                        $("#tbFechaEntrega").val(response.reserva.FechaEntrega);
                        $("#tbHoraEntrega").val(response.reserva.HoraEntrega);
                        // 2. Seleccione un vehículo
                        $("#ddlVehiculo").val(response.reserva.IdVehiculo);
                        // 3. Servicios adicionales
                        $.each(response.reserva.Servicios, function(i, item) {
                            $('.servicios input:checkbox[value="' + item.IdServicio + '"]').prop("checked", true);
                            $('.servicios input:checkbox[value="' + item.IdServicio + '"]').addClass("active");
                        });
                        // 4. Datos para el pago
                        $("#tbNombres").val(response.reserva.Nombres);
                        $("#tbApellidos").val(response.reserva.Apellidos);
                        $("#tbEmail").val(response.reserva.Email);
                        $("#tbDireccion").val(response.reserva.Direccion);
                        $("#ddlComuna").val(response.reserva.IdComuna);
                        $("#tbTelefono").val(response.reserva.Telefono);
                        $("#tbObservacionesEdit").val(response.reserva.Observaciones);

                        $("#modal-editar").modal("show");
                    } else {
                        $("#modal-alerta .modal-body p").text(response.message);
                        $("#modal-alerta").modal("show");
                    }
                },
                error: function (a, b, c) {
                    $("#modal-alerta .modal-title").text("Error");
                    $("#modal-alerta .modal-body p").text(c);
                    $("#modal-alerta").modal("show");
                }
            });
        });

        $(document).on("click", "btnGuardarEditar", function () {
            $.ajax({
                url: '@Url.Action("ActualizarServicio", "Servicios", new { area = "Mantencion" })',
                type: 'POST',
                data: {
                    idServicio: $("#idServicio").val(),
                    nombre: $("#tbServicio").val(),
                    descripcion: $("#tbDescripcion").val(),
                    valor: $("#tbValor").val()
                },
                success: function(response) {
                    if (response.valid) {
                        $("#modal-editar").modal("hide");
                        $("#modal-alerta .modal-body p").text("Servicio actualizado correctamente");
                        $("#modal-alerta .modal-footer button").click(function () {
                            window.location.href = '@Url.Action("Index", "Servicios", new { area = "Mantencion" })';
                        });
                        $("#modal-alerta").modal("show");
                    } else {
                        $("#modal-alerta .modal-body p").text(response.message);
                        $("#modal-alerta").modal("show");
                    }
                },
                error: function (a, b, c) {
                    $("#modal-alerta .modal-title").text("Error");
                    $("#modal-alerta .modal-body p").text(c);
                    $("#modal-alerta").modal("show");
                }
            });
        });

        $(document).on("click", ".btnEstado", function() {
            $("#idReserva").val($(this).val());
            $("#ddlEstado").val($(this).attr("data-estado"));
            $("#tbObservaciones").val("");
            $("#modal-cambioEstado").modal("show");
        });

        $(document).on("click", "#btnCambioEstado", function() {
            if ($("#ddlEstado").val() === "") {
                $("#modal-alerta .modal-body p").text("Debe seleccionar un estado para la reserva");
                $("#modal-alerta").modal("show");
                return;
            }

            $.ajax({
                url: '@Url.Action("CambiarEstado", "Reservas", new { area = "Mantencion" })',
                type: 'POST',
                data: {
                    idReserva: $("#idReserva").val(),
                    idEstado: $("#ddlEstado").val(),
                    observaciones: $("#tbObservaciones").val()
                },
                success: function(response) {
                    if (response.valid) {
                        $("#modal-cambioEstado").modal("hide");
                        $("#modal-alerta .modal-body p").text("Estado de la reserva actualizado correctamente");
                        $("#modal-alerta .modal-footer button").click(function () {
                            window.location.href = '@Url.Action("Index", "Reservas", new { area = "Mantencion" })';
                        });
                        $("#modal-alerta").modal("show");
                    } else {
                        $("#modal-alerta .modal-body p").text(response.message);
                        $("#modal-alerta").modal("show");
                    }
                },
                error: function (a, b, c) {
                    $("#modal-alerta .modal-title").text("Error");
                    $("#modal-alerta .modal-body p").text(c);
                    $("#modal-alerta").modal("show");
                }
            });
        });
    </script>
}
