@{
    // *** Preconfigs ***
    var version = System.Configuration.ConfigurationManager.AppSettings.Get("Version");
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SisRent - @ViewBag.Title</title>
    @Styles.Render("~/Styles/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("styles", false)
</head>
<body>
    <div id="navbar-full">
        <div id="navbar">
            <nav class="navbar navbar-ct-gray navbar-fixed-top navbar-transparent" role="navigation">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand navbar-brand-logo" href="#">
                            <div class="logo">
                                <img src="/Images/logo.jpg">
                            </div>
                            <div class="brand"> <span class="text-red">Traveler Renta</span> Car </div>
                        </a>
                    </div>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="@Url.Action("Index", "Home")"><p>Inicio</p></a></li>
                            <li><a href="@Url.Action("Rentar", "Home")"><p>Rentar Vehículo</p></a></li>
                            <li><a href="@Url.Action("Informacion", "Home")"><p>Información</p></a></li>
                            <li><a href="@Url.Action("Contacto", "Home")"><p>Contacto</p></a></li>
                            <li><a href="@Url.Action("Index", "Mantencion")"><p>Mantención</p></a></li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="blurred-container">
                <div class="img-src" style="background-image: url('/Images/bg.jpg')"></div>
            </div>
        </div>
    </div>
    <div class="container body-content main">
        @RenderBody()
        <footer class="main-footer">
            <hr />
            <div class="pull-right hidden-xs">
                <b>Versión</b> @version
            </div>
            <strong>&copy; 2010-@DateTime.Now.Year <a href="#">OCR innovaciones</a>.</strong>
            Todos los derechos reservados.
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/ct-navbar")
    @RenderSection("scripts", false)
</body>
</html>
