@model SisRent.Vista.Areas.Mantencion.Models.VehiculosViewModel
@{
    ViewBag.Title = "Vehículos";
    var urlBase = System.Configuration.ConfigurationManager.AppSettings.Get("UrlBase");
}
<section class="content-header">
    <h1>
        Vehículos
        <small>Lista de vehículos</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-th"></i> Mantención</a></li>
        <li>Vehículos</li>
        <li class="active">Lista de vehículos</li>
    </ol>
</section>
<section class="content">
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Listado de vehículos</h3>
        </div>
        <div class="box-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th style="width: 130px">Imagen</th>
                        <th>Marca - Modelo</th>
                        <th>Año</th>
                        <th>Patente</th>
                        <th>Detalles</th>
                        <th>Valor</th>
                        <th style="width: 200px">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.ListaVehiculos != null && Model.ListaVehiculos.Any())
                    {
                        foreach (var vehiculo in Model.ListaVehiculos)
                        {
                            <tr>
                                <td><img class="img-responsive" src="@(urlBase + vehiculo.RutaImagen)" alt="Imagen Auto"></td>
                                <td>@vehiculo.Marca - @vehiculo.Modelo</td>
                                <td>@vehiculo.Anio</td>
                                <td>@vehiculo.Patente</td>
                                <td>@vehiculo.Detalles</td>
                                <td>$ @vehiculo.Valor.ToString("N0")</td>
                                <td>
                                    <button class="btn btn-warning btnEditar" title="Editar" value="@vehiculo.IdVehiculo"><i class="fa fa-edit"></i></button>
                                    <button class="btn @("btn-" + (vehiculo.Estado ? "success" : "danger")) btnEstado" title="@(vehiculo.Estado ? "Activado" : "Desactivado")" value="@vehiculo.IdVehiculo">
                                        <i class="fa @("fa-" + (vehiculo.Estado ? "check" : "times"))"></i>
                                    </button>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr><td colspan="7">No hay vehículos registrados</td></tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="box-footer clearfix">
            <div class="pull-right">
                <a href="@(urlBase + Url.Action("AgregarVehiculo"))" class="btn btn-success"><i class="fa fa-ambulance"></i> Agregar Vehículo</a>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modal-editar" data-keyboard="disable" data-backdrop="static">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title">Editar Vehículo</h4>
                </div>
                <form id="frmEditar" role="form" method="post" action="@Url.Action("SubirImagen", "Vehiculos", new {area = "Mantencion"})" enctype="multipart/form-data">
                    <input type="hidden" id="idVehiculo" name="idVehiculo" value="" />
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-7">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="ddlMarca">Marca</label>
                                            <select class="form-control select2" name="ddlMarca" id="ddlMarca">
                                                <option value="">Seleccionar...</option>
                                                @foreach (var item in Model.ListaMarcas)
                                                {
                                                    <option value="@item.Value">@item.Text</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="ddlModelo">Modelo</label>
                                            <select class="form-control select2" name="idModelo" id="ddlModelo">
                                                <option value="">Seleccionar...</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="ddlAnio">Año</label>
                                            <select class="form-control select2" name="anio" id="ddlAnio">
                                                <option value="">Seleccionar...</option>
                                                @for (var an = 2000; an <= DateTime.Now.Year; an++)
                                                {
                                                    <option value="@an">@an</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="tbPatente">Patente</label>
                                            <input type="text" class="form-control" name="patente" id="tbPatente" placeholder="AB1234" maxlength="6">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="tbValor">Valor</label>
                                            <input type="number" class="form-control" name="valor" id="tbValor" placeholder="20000" maxlength="8">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="tbDetalles">Detalles</label>
                                            <textarea class="form-control" name="detalles" id="tbDetalles" rows="3" placeholder="5 puertas, frenos ABS..."></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label for="btnCambiarImagen">Imagen</label>
                                    <div><img class="img-responsive" id="imgAuto" src="@(urlBase + "/Images/Autos/SinImagen.png")" alt="Imagen Auto"></div>
                                    <input type="file" name="rutaImagen" id="btnCambiarImagen" style="width: 100%;">
                                    <p class="help-block">El tamaño óptimo es de 500x300</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancelar</button>
                        <button type="button" id="btnGuardarEditar" class="btn btn-success">Guardar cambios</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    @WebControls.ModalAlert("Mensaje Alerta", "")
</section>
@section Styles
{
    @Styles.Render("~/Styles/select2")
}
@section Scripts
{
    @Scripts.Render("~/Scripts/select2")
    <script>
        $(document).ready(function() {
            $(".select2").select2();
        });

        $(document).on("click", ".btnEditar", function () {
            $.ajax({
                url: '@Url.Action("ObtenerVehiculo", "Vehiculos", new { area = "Mantencion" })',
                type: 'POST',
                data: {
                    idVehiculo: $(this).val()
                },
                success: function(response) {
                    if (response.valid) {
                        var idMarca = response.vehiculo.IdMarca;
                        var idModelo = response.vehiculo.IdModelo;
                        $("#idVehiculo").val(response.vehiculo.IdVehiculo);
                        $("#ddlMarca").val(idMarca).trigger('change');
                        $("#ddlAnio").val(response.vehiculo.Anio).trigger('change');

                        $("#imgAuto").attr('src', '@urlBase' + response.vehiculo.RutaImagen);
                        $("#tbPatente").val(response.vehiculo.Patente);
                        $("#tbValor").val(response.vehiculo.Valor);
                        $("#tbDetalles").val(response.vehiculo.Detalles);

                        $.ajax({
                            url: '@Url.Action("ObtenerModelos", "Vehiculos", new { area = "Mantencion" })',
                            type: 'POST',
                            data: {
                                idMarca: idMarca
                            },
                            success: function(response) {
                                if (response.valid) {
                                    $("#ddlModelo").html('<option value="">Seleccionar...</option>');
                                    $.each(response.modelos, function(i, val) {
                                        $("#ddlModelo").append('<option value="' + val.Value + '">' + val.Text + '</option>');
                                    });
                                    $("#ddlModelo").val(idModelo).trigger('change');

                                    $("#modal-editar").modal("show");
                                } else {
                                    $("#modal-alerta .modal-body p").text(response.message);
                                    $("#modal-alerta").modal("show");
                                }
                            },
                            error: function (a, b, c) {
                                $("#modal-alerta .modal-title").text("Error");
                                $("#modal-alerta .modal-body p").text(c);
                                $("#modal-alerta").modal("show");
                            }
                        });
                    } else {
                        $("#modal-alerta .modal-body p").text(response.message);
                        $("#modal-alerta").modal("show");
                    }
                },
                error: function (a, b, c) {
                    $("#modal-alerta .modal-title").text("Error");
                    $("#modal-alerta .modal-body p").text(c);
                    $("#modal-alerta").modal("show");
                }
            });
        });

        $(document).on("change", "#ddlMarca", function() {
            $("#ddlModelo").html('<option value="">Seleccionar...</option>');
            if ($(this).val() !== "") {
                $.ajax({
                    url: '@Url.Action("ObtenerModelos", "Vehiculos", new { area = "Mantencion" })',
                    type: 'POST',
                    data: {
                        idMarca: $(this).val()
                    },
                    success: function(response) {
                        if (response.valid) {
                            $.each(response.modelos, function(i, val) {
                                $("#ddlModelo").append('<option value="' + val.Value + '">' + val.Text + '</option>');
                            });
                            $("#ddlModelo").val("").trigger('change');
                        } else {
                            $("#modal-alerta .modal-body p").text(response.message);
                            $("#modal-alerta").modal("show");
                        }
                    },
                    error: function (a, b, c) {
                        $("#modal-alerta .modal-title").text("Error");
                        $("#modal-alerta .modal-body p").text(c);
                        $("#modal-alerta").modal("show");
                    }
                });
            }
        });

        $(document).on("click", "#btnGuardarEditar", function () {
            $.ajax({
                url: '@Url.Action("ActualizarVehiculo", "Vehiculos", new { area = "Mantencion" })',
                type: 'POST',
                data: {
                    idVehiculo: $("#idVehiculo").val(),
                    idModelo: $("#ddlModelo").val(),
                    anio: $("#ddlAnio").val(),
                    valor: $("#tbValor").val(),
                    patente: $("#tbPatente").val(),
                    detalles: $("#tbDetalles").val()
                },
                success: function(response) {
                    if (response.valid) {
                        $("#modal-editar").modal("hide");
                        $("#modal-alerta .modal-body p").text("Vehículo actualizado correctamente");
                        $("#modal-alerta .modal-content button").click(function () {
                            $("#frmEditar").submit();
                        });
                        $("#modal-alerta").modal("show");
                    } else {
                        $("#modal-alerta .modal-body p").text(response.message);
                        $("#modal-alerta").modal("show");
                    }
                },
                error: function (a, b, c) {
                    $("#modal-alerta .modal-title").text("Error");
                    $("#modal-alerta .modal-body p").text(c);
                    $("#modal-alerta").modal("show");
                }
            });
        });

        $(document).on("click", ".btnEstado", function() {
            $.ajax({
                url: '@Url.Action("CambiarEstado", "Vehiculos", new { area = "Mantencion" })',
                type: 'POST',
                data: {
                    idVehiculo: $(this).val(),
                    estado: !$(this).find("i").hasClass("fa-check")
                },
                success: function(response) {
                    if (response.valid) {
                        window.location.href = '@Url.Action("Index", "Vehiculos", new { area = "Mantencion" })';
                    } else {
                        $("#modal-alerta .modal-body p").text(response.message);
                        $("#modal-alerta").modal("show");
                    }
                },
                error: function (a, b, c) {
                    $("#modal-alerta .modal-title").text("Error");
                    $("#modal-alerta .modal-body p").text(c);
                    $("#modal-alerta").modal("show");
                }
            });
        });
    </script>
}
