@model SisRent.Vista.Areas.Mantencion.Models.SidebarViewModel
@{
    var urlBase = System.Configuration.ConfigurationManager.AppSettings.Get("UrlBase");
}
<aside class="main-sidebar">
    <section class="sidebar">
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">MANTENCIÓN</li>
            @if (Model.ListaAccesos != null)
            {
                foreach (var acceso in Model.ListaAccesos.Where(o => o.IdAccesoPadre == null))
                {
                    if (acceso.Accesos1.Any())
                    {
                        <li class="treeview">
                            <a href="#">
                                <i class="fa @("fa-" + acceso.Icono)" title="@acceso.Descripcion"></i>
                                <span>@acceso.Acceso</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                @foreach (var accesoHijo in acceso.Accesos1)
                                {

                                    <li>
                                        <a href="@(urlBase + accesoHijo.UrlAcceso)" title="@accesoHijo.Descripcion">
                                            <i class="fa @("fa-" + accesoHijo.Icono)"></i> @accesoHijo.Acceso
                                        </a>
                                    </li>
                                }
                            </ul>
                        </li>
                    }
                    else
                    {
                        <li>
                            <a href="@(urlBase + acceso.UrlAcceso)" title="@acceso.Descripcion">
                                <i class="fa @("fa-" + acceso.Icono)"></i> <span>@acceso.Acceso</span>
                            </a>
                        </li>
                    }
                }
            }
        </ul>
    </section>
</aside>